{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% load static %} <!-- Подключение статических файлов -->
{% block content %}
<div class="row">
  <div class="col"><h2 class="text-center my-3">Сервис по сбору и рассылке спортивных новостей</h2></div>
</div>
<div class="everything">
    <div class="stype col-12 col-sm-12 col-lg-16 col-md-12 col-xl-12">
        <div class="row">
            <div class="col-md-12 mx-auto"> <!--было 12-->
                <p class="">
                    Каждый день мы анализируем сайты с новостями, согласно настройкам наших подпсчиков.
                    Все подходящие спортивные новости, опубликованные на этих сайтах за последние сутки,
                    записываются в базу данных и рассылаются подписчикам, согласно их предпочтениям.
                    Вы можете просматривать актуальные новости, просто выбрав необходимый город или вид спорта.
                    Или же, пройдя несложную <a href="{% url 'accounts:register' %}"> регистрацию</a>,
                    получать каждый день письмо со списком новых новостей за последние сутки, согласно Вашим потребностям.
                </p>
                <form method="GET" action="{% url 'list_st' %}">
                    <div class="form-group">
                        <div class="btn-group" role="group" aria-label="Stype">
                            {% for choice in form_st.stype.field.choices %}
                            <button type="submit" class="btn btn-success" name="stype"
                                    style="text-align: center; color: #f2f7f4; width: 200px; height: 45px;
                                           background-color: #2a9649; margin-top: 6px; border-radius: 25px"
                                    value="{{ choice.0 }}">{{ choice.1 }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="city fixed-right col-3 col-sm-3 col-lg-4 col-md-3 col-xl-3">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form method="GET" action="{% url 'list_c' %}">
                    <div class="form-group">
                        {{form_city.as_p}}
                    </div>
                    <button type="submit" class="btn btn-primary">Найти</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}